<%- include('partials/header') %>
<div class="container">
    <div class="movie-card card text-center my-4 ms-auto me-auto" style="width: 70%;">
        <h1>Movie-Stats</h1>
        <p>Get all the statistics and information about the movies and TV shows with a Single Click.This is simple a website created using Node.js, Express and EJS. OMDB API was used to get the data about the movies. The OMDb API is a RESTful web service to obtain movie information, all content and images on the site are contributed and maintained by our users.</p>
    </div>
</div>
<%- include('partials/footer') %>