<%- include('partials/header') %>
    <div class="container ">
        <div class="movie-card card my-5 py-5 text-center">
            <h1>Sorry, No Such Movie or TV Show Found</h1>
            <p>Make sure that no typos in the movie name</p>
        </div>
        <div class="text-center my-4 py-2">
            <a href="/" class="btn btn-warning p-1 m-1">Search Other Movie</a>
        </div>
    </div>
<%- include('partials/footer') %>
